fastapi
uvicorn[standard]
pydantic
pydantic[email]
sqlalchemy
asyncpg
python-jose[cryptography]
passlib[bcrypt]
bcrypt>=4.0.1,<4.1.0
python-dotenv
alembic
pytest
pytest-asyncio
httpx
aiosqlite
python-multipart
